{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/alerts.html'%}

<!--Main Wrapper-->
	<div class="wrapper">
        <!-- Main Section Start -->
		<div class="main-section">

			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<!-- Load sidebar here -->
							{% include 'includes/c_sidebar.html' %}
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									<h5 class="text-uppercase">My Orders</h5>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-orders-list">
												<div class="responsive-table">
													<ul class="table-generic">
														<li class="order-heading-titles">
															<div>Order #</div>
															<div>Date</div>
															<div>Total</div>
															<div>Status</div>
															<div>Action</div>
														</li>
														{% for order in orders %}
															<li class="order-heading-titles">
																<div>
																	<a href="#" data-toggle="modal" style="color: black;" data-target="#order-det-22606">{{ order.order_number }}</a>
																</div>
																<div>{{ order.created_at }}</div>
																<div>$ {{ order.total }}</div>
																{% if order.status == 'New'%}
																	<div><span class="order-status" style="background-color: #f5b400;">{{ order.status }}</span></div>
																{% elif order.status == 'Accepted' %}
																	<div><span class="order-status" style="background-color: #196dd4;">{{ order.status }}</span></div>
																{% elif order.status == 'Completed' %}
																	<div><span class="order-status" style="background-color: #38a326;">{{ order.status }}</span></div>
																{% elif order.status == 'Cancelled' %}
																	<div><span class="order-status" style="background-color: #e00000;">{{ order.status }}</span></div>
																{% endif %}
																<div>
																	<a href="{% url 'c-order-details' order.order_number %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Details</a>
																</div>
															</li>
														{% endfor %}
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
<!-- Main Section End -->

{% endblock %}
