{% extends 'base.html' %}
{% load static %}

{% block content %}

	<!-- Main Section Start -->
	<div class="main-section pt-5">
		<div class="page-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="tabs-holder horizontal">
							<ul class="stickynav-tabs nav nav-tabs">
								<li class="active"><a data-toggle="tab"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane in active">
									<div class="menu-itam-holder">
										<div class="menu-itam-list">
											<form action="{% url 'place-order'%}" method="POST">
												{% csrf_token %}
												<div class="row">
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														First Name*: {{form.first_name}}
													</div>
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														Last Name: {{form.last_name}}
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														Phone Number*: {{form.phone}}
													</div>
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														Email Address: {{form.email}}
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-12 col-md-12 col-sm-12">
														Address*: {{form.address}}
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														Country : {{form.country}}
													</div>
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														State: {{form.state}}
													</div>
												</div>
												<div class="row">
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														City: {{form.city}}
													</div>
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														Pin Code: {{form.pin_code}}
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--Your order section-->
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="tabs-holder horizontal">
							<ul class="stickynav-tabs nav nav-tabs">
								<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your order</a></li>
							</ul>
							<div class="tab-content">
								<div id="home" class="tab-pane in active">
									<div class="menu-itam-holder">
										<div id="menu-item-list-6272" class="menu-itam-list">
											<div class="text-center p-5" id="empty-cart" style="display: none;">
												<h3>Cart is empty</h3>
											</div>
											<ul>
												{% for item in cart_items %}
												<li id="cart-item-{{item.id}}" >
													<div class="image-holder"><img src="{{ item.fooditem.image.url }}" alt=""></div>
													<div class="text-holder">
														<h6>{{item.fooditem.food_title}}</h6>
														<a href="{% url 'vendor-detail' item.fooditem.vendor.vendor_slug%}" class="badge badge-warning">{{item.fooditem.vendor}}</a>
													</div>
													<div class="quantity-holder" style="display: inline-block; position: absolute; top: 50%; transform: translateY(-50%); margin-top: -10px; margin-left: -20px;">
														<span>{{item.quantity}} pcs</span>
													</div>
													<div class="price-holder">
														<span class="price">$ {{ item.fooditem.price }}</span>
													</div>
												</li>
												{% endfor %}
											</ul>
											{% for item in cart_items %}
											<span id="qty-{{item.fooditem.id}}" class="item_qty d-none" data-qty="{{item.quantity}}"> {{item.quantity}} </span>
											{% endfor %}
										</div>
										<div>
											<ul>
												<li style="list-style-type: none; margin-top: -40px;">
													Subtotal
													<span class="price float-right">
														<span class="currency">$</span>
														<span id="subtotal">{{subtotal}}</span>
													</span>
												</li>
												{% for tax_type, tax_data in tax_dict.items %}
													{% for tax_perc, tax_amount in tax_data.items %}
														<li style="list-style-type: none;">
															{{tax_type}} <small>({{tax_perc}}%)</small>
															<span class="price float-right">
																<span class="currency">$</span>
																<span id="tax-{{tax_type}}">{{tax_amount}}</span>
															</span>
														</li>
													{% endfor %}
												{% endfor %}
												<hr>
												<li style="list-style-type: none; font-weight: 600">
													Total
													<span class="price float-right">
														<span class="currency">$</span>
														<span id="total">{{grand_total}}</span>
													</span>
												</li>
												<hr>
												<h5>SELECT PAYMENT METHOD</h5>
												<div class="payment-method">
													<label style="padding: 10px">
														<input type="radio" name="payment_method" value="PayPal">
														<img src="{% static 'images/PayPal.png' %}" alt="PayPal" width="100">
													</label>
<!--													<label style="padding: 10px">-->
<!--														<input type="radio" name="payment_method" value="Cash">-->
<!--														<img src="{% static 'images/Cash.png' %}" alt="Cash" height="50">-->
<!--													</label>-->
												</div>
												<button onclick="return payMethodConfirm();" type="submit" class="btn btn-danger p-2 w-100 mt-3">PLACE ORDER</button>
											</ul>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Section End -->
	<script>
		function payMethodConfirm(){
			var payMethod = $("input[name='payment_method']:checked").val()
			if(!payMethod){
				Swal.fire({
					title: 'Choose Payment Method',
					confirmButtonColor: "#E72222",
				})
				return false;
			}else{
				return true;
			}
		}
	</script>

{% endblock %}