<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="{% if 'dashboard' in request.path or '/customer/' == request.path %}active{% endif %}">
                <a href="{% url 'customer-dashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a>
            </li>
            <li class="{% if 'order' in request.path %}active{% endif %}">
                <a href="{% url 'c-my-orders' %}"><i class="icon-add_shopping_cart"></i>My orders</a>
            </li>
            <li class="{% if '/profile/' in request.path %}active{% endif %}">
                <a href="{% url 'c-profile' %}"><i class="icon-build"></i>Profile settings</a>
            </li>
            <li><a href="{% url 'forgot-password' %}"><i class="icon-unlock-alt"></i>Change Password</a></li>
        </ul>
    </div>
</div>
